*.bak
*.tmp
*.log
*.*~
*.swp
*.DS_Store
*.orig
*.mexmaci64
*.mexa64
*.o
*.gz
*.tar
*.zip
*.save
*.save.1
*.fig
*.jpg
*.output
*.mat

bin
build
data/*

# default ignore binary files
*.mat
*.pdf
*.avi
*.mpg
Thumbs.db


# latex ignores:
*.aux
*.log
*.asv
._*
*.bbl
*.blg
*.nav
*.out
*.snm
*.synctex.gz*
*.toc
*.dvi

# Unignore *.pngs in latex/slides
!/latex/slides/**/figures/*.png
